# Stack
.stack-work/

# From daedalus-bridge
node_modules/*

# Config files
.ghci

# Our custom build script (util-scripts/build.sh)
b
.no-nix
.ram
.Werror

# Various DBs
node-db*
wallet-db/
wallet-new-db/
db-*/
wdb-*/

# Keys
*.key
*.key.lock
keys
!secrets/*.key

# TLS certificates
server.crt
ca.crt

# Node runtime data
logs
run

# Emacs
*~
*#
.dir-locals.el
GTAGS
GRTAGS
GPATH
TAGS

# Vim
tags

# Intellij Idea & intellij-haskell
.idea
.ideaHaskellLib
*.iml

# Atom
.haskell-ghc-mod.json

# Misc
.DS_Store
*.swp

# Compiled-scripts cruft
scripts/haskell/dependencies.hs
scripts/haskell/dependencies.hi
scripts/haskell/dependencies.o
scripts/haskell/dependencies

# 'pkgs/stack2nix' is a symlink into the nix store, it can safely be ignored
pkgs/stack2nix
nixpkgs # in case generate.sh clones nixpkgs in here
+pkgs/result

# explorer
explorer-node.log.*
explorer-node.log
explorer.log
socket-io.log

# importify
.importify

block/src/Pos/Arbitrary/Block/
block/src/Pos/Block/Genesis.hs
crypto/Pos/Crypto/Signing/Check.hs
docs/monads.md
docs/network/example-topologies/mainnet-staging.yaml
docs/rollback-reaction.md
explorer/src/explorer/ExplorerNodeOptions.hs
infra/Pos/Diffusion/
infra/Pos/HealthCheck/
infra/Pos/Reporting/Ekg.hs
infra/Pos/Reporting/Health/
infra/Pos/Reporting/Statsd.hs
infra/Pos/Statistics.hs
infra/Pos/Statistics/
infra/Pos/Util/Monitor.hs
infra/Pos/Worker/
lib/src/Pos/Communication/Limits/
lib/src/Pos/Logic/Full.hs
lib/src/Pos/Logic/Pure.hs
log-configs/
lrc/Pos/Lrc/RichmenComponent.hs
sample-wallet-config.nix
scripts/ci/check-hydra.sh
scripts/tls-files/
tools/src/launcher/launcher-config.yaml
util/Pos/Util/QuickCheck.hs
util/Pos/Util/QuickCheck/
wallet-new/server/Cryptokami/Wallet/API/V1/Swagger/
wallet-new/src/Cryptokami/Wallet/API/Indices.hs
wallet-new/src/Cryptokami/Wallet/API/Request.hs
wallet-new/src/Cryptokami/Wallet/API/Request/
wallet-new/src/Cryptokami/Wallet/API/Response.hs
wallet-new/src/Cryptokami/Wallet/API/Response/
wallet-new/src/Cryptokami/Wallet/API/V1/Migration/
wallet-new/src/Cryptokami/Wallet/TypeLits.hs
wallet-new/test/unit/
wallet/dist/
